.uk-text-bold {
  font-family: Heebo-Bold, @global-font-family;
}

.tm-text-medium {
  font-family: Heebo-Medium, @global-font-family;
  font-weight: 500;
}

.tm-button_apple {
  line-height: 1;
  font-size: 22px;
}

.tm-pageheader {
  background: url("../../images/bg_pageheader.png") no-repeat center bottom;
  background-size: cover;

  .tm-button_apple {
    padding: 60px 100px;

    .uk-text-small {
      font-size: 15.5px;
    }

    .fa-apple {
      font-size: 40px;
    }
  }
}

.tm-footer {
  background-color: #191919;
  box-shadow: 0px -20px 72px 0px rgba(0,0,0,0.71);
}

.tm-nav_tooltip-container {
  position: relative;
  top: 110px;
}

.tm-nav_tooltip {
  color: #000;
  font-size: 22px;
  padding: 60px 0;

  > li {
    cursor: pointer;
  }
}

.tm-video_wrap {
  padding-top: 85px;

  .uk-card-secondary {
    background: url("../../images/bg_purpose.png") no-repeat @global-secondary-background center;
    background-size: cover;
  }
}